In [6]:
#membership operators -->in , not in
str1 = 'tej har'
print('har' in str1)
print('xy' not in str1)

True
True

In [13]:
#identity operators -->is,is not
x = 10
y = 20
x is 10

True

In [14]:
print(id(x),id(y))

140709353661104 140709353661424

In [15]:
x = 10
y = 20
print("x<y") if x<y else print("x>y")

x<y

In [16]:
if x<y:
    print("x<y")
else:
    print("x>y")

x<y

In [18]:
if x<y:
    print("x<y")
    if 12<78:
        print("hello")
        print("h1")
    else:
        print("hai")
else:
    print("x>y")

x<y
hello
h1

In [21]:
#accept a number as an input and print whether given number is positive or negative or zero
a = int(input("enter a num"))
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

enter a num-9
negative

In [31]:
#accept a number which is divisible by 2,3 but not 4
a = int(input("enter a num"))
if (a%2==0 and a%3==0) and (a%4!=0):
    print(a)

enter a num6
6

In [41]:
a = int(input("enter subject1 marks"))
b = int(input("enter subject2 marks"))
c = int(input("enter subject3 marks"))
if(a>30 and b>30 and c>30):
    avg = (a+b+c)/3
    if avg > 75:
        print("grade is a")
    elif avg>65 and avg<75:
        print("grade is b")
    elif avg>50 and avg<65:
        print("grade is c")
    elif avg>30 and avg<50:
        print("grade is d")
else:
    print("fail")

enter subject1 marks91
enter subject2 marks94
enter subject3 marks95
grade is a

In [42]:
#n natural numbers
#while loop
i = 1
n = int(input())
while i<=n:
    print(i,end = ' ')
    i += 1

5
1 2 3 4 5

In [2]:
i = 1
sum = 0
n = int(input())
while i<=n:
    sum += i
    i += 1
print(sum)

15
120

In [3]:
i = 1
sum = 0
n = int(input())
while i<=n:
    if i%2 == 0:
        sum += i;
    i +=1;
print(sum)

10
30

In [5]:
n = int(input())
while n!=0:
    print(n%10,end = " ")
    n=n//10

456
6 5 4

In [7]:
n = int(input())
sum = 0
while n!=0:
    sum = sum + (n%10)
    n = n//10
print(sum)

456
15

In [10]:
str1 = "application1889"
i = 0
sum = 0
while i<len(str1):
     if str1[i].isdigit():
         sum += int(str1[i])
     i += 1
print(sum)

26

In [12]:
ord("0")

48

In [16]:
#PRINT N NATURAL NUMBERS USING FOR LOOP
i = 0
n = int(input("enter value"))
for i in range(1,n+1) :
    print(i)

enter value10
1
2
3
4
5
6
7
8
9
10

In [17]:
i = 0
str = input("enter value")
for i in range(1,n+1,4) :
    print(i)

enter valuefhvgekrvwrliofawgvrvjhfleiuleru
1
5
9