# collection type
1. list
2. tuple
3. dictionary

In [6]:
#list->indexed,ordered,mutable,allows duplicate values
list1 = [12,23,45.6,"abc",True]
#adding elements
list1.append(45.6)
list1.append(100)
print(list1)
list1.insert(3,200)
list1.extend([400,500,600])
print(list1)

[12, 23, 45.6, 'abc', True, 45.6, 100]
[12, 23, 45.6, 200, 'abc', True, 45.6, 100, 400, 500, 600]

In [23]:
#removing elements-->pop(),remove()
list1=[12,23,45.6,"abc",True]
del list1[-1]
print(list1)
list1.remove(23)
print(list1)

[12, 23, 45.6, 'abc']
[12, 45.6, 'abc']

In [24]:
list1[1] = 500
list1

[12, 500, 'abc']

In [27]:
list1.reverse()
list1

['abc', 500, 12]

list1.sort()
list1

In [33]:
list1 = [12,23,34,55]
list1.sort(reverse=True)
list1

[55, 34, 23, 12]

In [34]:
list1.index(23)

2

In [36]:
list2=list1.copy()
list2

[55, 34, 23, 12]

In [39]:
list1.append(555)
list2.append(100)
print(list1,list2)

[55, 34, 23, 12, 23, 555, 555] [55, 34, 23, 12, 55, 55, 100]

In [42]:
list1.count(555)

2

#accept 3 subjects marks of the students and store values in a list
#return total marks of the student

In [5]:
marks =[]
a = int(input("enter no of subjects"))
for i in range(0,a):
    marks.append(int(input()))
print("sum",sum(marks))

enter no of subjects3
33
33
33
sum 99

In [3]:
li =[]
a = int(input("enter items"))
for i in range(0,a):
    li.append(int(input()))
print("largest:",max(li))

enter items2
1
2
largest: 2

In [1]:
l =[]
a = int(input("enter items"))
for i in range(0,a):
    l.append(int(input()))
print("smallest:",min(l))

enter items2
45
56
smallest: 45

In [4]:
#tuple-->indexed,ordered,allows duplicate values,immutable
#use ()
t1 = (11,22,33,44)
l1 = list(t1)
l1[2] = 100
print(l1)
t1 =tuple(l1)
print(t1)

[11, 22, 100, 44]
(11, 22, 100, 44)

#dict1 = {key1:value1,key2:value2,...}
#rules for keys:
1. keys shoild be unique
2. keys shoukd be immutable(numbers,strings,tuples)

In [17]:
s1 = {"name":"pinky","roll number":26,"course":"CSE"}
#adding new entry
s1["address"] = "kgm"
s1["name"]
del s1["course"]
s1

{'name': 'pinky', 'roll number': 26, 'address': 'kgm'}